{% extends "!page.html" %}

{% block footer %}
 <script type="text/javascript">
    // https://stackoverflow.com/a/25543713/134731 for toggle example
    $(document).ready(function() {
        $(".toggle > *").hide();
        $(".toggle .header").show();
        $(".toggle .header").click(function() {
            $(this).parent().children().not(".header").toggle(400);
            $(this).parent().children(".header").toggleClass("open");
        })
    });
</script>

<script src="_static/scratchblocks-v3.4-min.js"></script>
<script src="_static/translations-all-v3.4.js" charset="utf8"></script>

<script>
  function parseBlocks(codeBlock) {
    var doc
    var docView
    var svg
    // Parse the source code
    doc = scratchblocks.parse(codeBlock.innerHTML, {languages: ['en','nl']})

    // // Create a DocView with your chosen style
    docView = scratchblocks.newView(doc, {
      style: 'scratch3', // Or 'scratch2'
    })

    // Render to an SVG
    svg = docView.render()

    // Scratch 3 is zoomed out by default, so you probably want to do the same
    svg.style.transform = 'scale(0.675)';

    // Add that SVG to your page, etc
    svg.style.transformOrigin = '0 0';
    return svg
  }
  var codeblocks = document.getElementsByClassName("scratch")
  var parsedBlock
  for (i = 0; i < codeblocks.length; i++) {
    parsedBlock = parseBlocks(codeblocks[i])
    codeblocks[i].innerHTML = ""
    codeblocks[i].appendChild(parsedBlock)
  }

</script>
{% endblock %}
