.toggle .header {
    display: block;
    clear: both;
    cursor: pointer;
    margin: 10px;
}
.toggle .header p {
    display: inline;
}

.toggle .header:after {
    content: " ▶";
}

.toggle .header.open:after {
    content: " ▼";
}
